@font-face{
font-family:"Tangerine";
/*src: url("file:///media/fuse/crostini_050e61e3bbb300ff4fa6673b1b748fbf15631708_termina_penguin/github_pages/wearypossum4770.io/src/fonts/Tangerine-Bold.ttf") format("truetype");*/
src:  url('https://wearypossum4770.github.io/wearypossum4770.io/src/fonts/Tangerine-Bold.ttf') format("truetype");
  font-weight:bold;
}
.w3-tangerine {font:italic bold 40px "Tangerine", serif;}

ul.navbar{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#ff66ff;
}
li{
  border-right:1px solid #bbb;
  float:left;
}

li:last-child{border-right:none;}

li.navbar {
  display:block;
  width:100px;
  text-align:center;
  text-decoration:none;
}
